body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: rgb(7, 95, 84);
    color: #333;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

h1{
    color: #af844c;
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 1;
    line-height: 1.6;
    margin-bottom: 20px;
}

.lorem {
    color: #f2ff00;
}

p.lorem{
    text-align: justify;
}

#ultimoparagrafo {
    text-align: right;
    font-weight: bold;
}

.conteudo{
    width: auto;
    height: auto;
}

#botao:hover{
    background-color: #ff0000;
    color: #fff;
}

#imagem{
    transition: transform 0.3s ease, opacity 0.3s ease; /*Transição suave*/
    width: 600px
}

#imagem:hover{
    transform: scale(1.1); /*Aumenta a imagem em 10%*/
    opacity:0.8 /*Reduzligeiramente a opacidade*/
}